@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Bebas Neue', cursive;
    .digital-clock {
        height: 100vh;
        width: 100%;
        background-color: #141E27;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header {
            color: #EEEDDE;
            font-size: 7em;
        }
        .mdy {
            color: #E0DDAA;
            font-size: 1.2em;
        }
        .hms {
            color: #659bb1;
            font-size: 1.2em;
        }
    }
}